.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
}

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 0.9rem;
}

.textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 0.9rem;
  min-height: 100px;
  resize: vertical;
}

.alert {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: rgb(235, 103, 94);
  padding: 4px;
  margin: 0;
  border-radius: 4px;
}
