.header {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #eee; */
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgb(20, 20, 20);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

.logo {
  text-decoration: none;
  color: inherit;
}
.logo:hover {
  text-decoration: none;
  color: inherit;
}
