.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.heading {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

.logo {
  text-decoration: none;
  color: inherit;
}
.logo:hover {
  text-decoration: none;
  color: inherit;
}
